<!DOCTYPE html>
<html>
  <head>
    <title>UserPractice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <% if flash[:alert] %>
      <div id="alert">
         <h3><%= flash[:alert] %> </h3>
      </div>
  <% end %>

  <% if flash[:success] %>
      <div id="success">
         <h3><%= flash[:success] %> </h3>
      </div>
  <% end %>

  <% if flash[:error] %>
      <div id="error">
         <h3><%= flash[:error] %> </h3>
      </div>
  <% end %>
</html>
